/** Reset **/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/** Clearfix **/
.cf:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0 auto 9em;
}

a {
  color: #000;
  text-decoration: none;
}

/** Main Header **/
.header {
  padding: 1em 3em;
  display: flex;
  align-items: center;
  background: linear-gradient(hsl(200,2%,100%), hsl(200,2%,97%));
  border-bottom: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 1px rgba(0,0,0,.03);
}

/** Logo **/
.logo {
  font-size: inherit;
  font-weight: 400;
  display: flex;
  align-items: center;
}

img.logo {
  margin-right: 10px;
}

/** Main Menu **/
.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}
.menu a {
  display: block;
  padding: .5em 2em;
}
.menu a.is-active {
  background: linear-gradient(hsl(200,2%,97%), hsl(200,2%,100%));
  border-radius: .3em;
  box-shadow:
    0 1px rgba(0,0,0,.03) inset,
    0 0 0 1px rgba(0,0,0,.13),
    0 2px white;
}

/** Global headline and text **/
.headline {
  font-size: 1.5em;
  font-weight: 400;
  padding: 1.5em 0;
  border-bottom: 2px solid #ddd;
}
.text {
  padding: 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
}
.text p {
  margin-bottom: 1.5em;
}

/** Shared App Styles **/
.app-header {
  position: relative;
  display: flex;
}
.app-logo {
  width: 4em;
  height: 4em;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: .5em;
  margin-right: 1em;
}
.app-logo a {
  display: block;
  height: 100%;
}
.app-logo img {
  max-width: 100%;
  max-height: 100%;
}
.app .app-meta {
  flex: 1;
}
.app-title {
  font-size: .9em;
  margin-bottom: .25em;
}
.app-category {
  font-size: .8em;
  font-weight: 400;
  color: #999;
  margin-bottom: .4em;
}
.app-title,
.app-category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-install-button {
  background: none;
  color: hsl(200,100%,50%);
  font-weight: 600;
  padding: .5em 1em;
  border-radius: .3em;
  border: 1px solid rgba(0,0,0,.08);
  border-bottom-color: rgba(0,0,0,.1);
  box-shadow: 0 1px rgba(0,0,0,.02);
  outline: none;
  cursor: pointer;
}

/** listing **/
.app-details,
.listing {
  margin: 2em;
  border-radius: .4em;
  box-shadow: 0 1px rgba(0,0,0,.03);
}
.app-details .app-header,
.listing-header {
  background: linear-gradient(hsl(200,2%,100%), hsl(200,2%,97%));
  border-radius: .4em .4em 0 0;
  padding: .5em 1em;
  border: 1px solid rgba(0,0,0,.1);
  border-top-color: rgba(0,0,0,.07);
  border-bottom-color: rgba(0,0,0,.15);
  box-shadow: 0 1px rgba(0,0,0,.03);
}
.listing-header h2 {
  font-size: inherit;
  font-weight: inherit;
}
.listing-body,
.app-text {
  border: 1px solid rgba(0,0,0,.13);
  border-radius: 0 0 .4em .4em;
  border-top: none;
}

/** App list **/
.apps,
.categories {
  display: flex;
  flex-wrap: wrap;
}
.apps .app,
.categories .category {
  padding: 1em;
  width: 15em;
}
.apps .app + .app,
.categories .category + .category {
  /*border-left: 1px solid rgba(0,0,0,.13);*/
}
.app-category .name {
  
}

/** App Details **/
.app-details {
}
.app-details .app-header {
  padding: 1em;
}
.app-details .app-text {
  padding: 2em 1em .5em;
}